.body
{
    background-color: #BDBDBD;
}
.imgEmp h4{
	margin-left:9%
}
.imgmedia{
	margin-left:70%;
	margin-top:-29%
}
.media{
	margin-left:7%
}
.client{
	margin-left:6%
}
.imgEmp{
	margin-left:35%
}
.a{
	color:white;
	font-family: "Times New Roman";
}


.div {
	margin-top : 15%
}
.btn-primary {
	background-color : #151515;
	color : white;
	border-color : black;
	
	
}


.white {
	color:white
}
.input-group-addon
{
    background-color: #151515;
    border-color: #151515;
    color: #151515;
}
.form-control:focus
{
  
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }