body
{
    background-color: #BDBDBD;
}
.navbar-nav{
margin-left: 57%;
}

.div {
	margin-top : 15%
}
.btn-primary {
	background-color : #151515;
	color : white;
	border-color : black;
	
	
}


.white {
	color:white
}
.input-group-addon
{
    background-color: #151515;
    border-color: #151515;
    color: #151515;
}
.form-control:focus
{
  
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }