<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Médiathèque UHA </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../../css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/styleAccueil.css}"
	href="../../css/style.css" />

</head>
<body class="body">

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Médiathèque</h3>

          <ul class="nav masthead-nav">
           

            <li>
              <a href="#">Accueil</a>
            </li>

            <li>
              <a th:href="@{/login}">Connexion</a>
            </li>
            <li>
              <a th:href="@{/logout}">Deconnexion</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Bienvenue dans la médiathèque de l'UHA</h1>

        <p class="lead"> Vous pouvez consulter les vidéos, les audios et les livres préférés en quelques clics  .
            
      
            
        </p>


        <p class="lead"><a class="btn btn-default btn-lg"  th:href="@{/login}" >Connexion</a></p>
      </div>

      <div class="mastfoot">
        <div class="inner">

          
          <p><small>HAIMI Zakaria et HAMDOUNI Amine</small></p>          
      
          

          <p>2017-2018</p>
        </div>
      </div>
    </div>
</div>
</div>
</body>
</html>