<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Médiathèque UHA </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../../css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/accessdenied.css}"
	href="../../css/style.css" />

</head>
<body>
  <div id="spam">
    <h1> Access Denied(403)</h1>
    <p>Secure content is being accessed<br/><br/>
    <small>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</small></p>
  </div>
</body>
</html>