<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Gestion des demandes</title>


 <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
	
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>

	</head>
<body class="body">

 
    
    	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Médiathèque</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right ">
					
					<li ><a   th:href="@{/accueil}"><strong>Accueil</strong></a></li>
					<li> <a th:href="@{/logout}"><strong>Deconnexion</strong></a> </li>
				</ul>
			</div>
		</div>
	</nav>
<!-- affichage liste des employes -->
<h1>Gestion des Demandes</h1>

<div class="container">

<br/>
<br/>
<br/>
<table class="table table-striped table-bordered">
	<thead>
	<tr>
	<th>TYPE</th> <th>GENRE</th> <th>STATUT</th> <th>ACCEPTER</th> <th>REFUSER</th> 
	</tr>
	</thead>
	<tbody>
	<tr th:each="dmd:${demandes}">
	<td th:text="${dmd.cat}"></td>
	 <td th:text="${dmd.genre}"></td>
	<td th:text="${dmd.status}"></td>
	
	
	<td ><a ><span class="glyphicon glyphicon-ok "></span></a></td>
	<td><a ><span class="glyphicon glyphicon-remove "></span></a></td>
	
	</tr>
	</tbody>
</table>



</div>
</body>
</html>



